html {
    margin: 0px, 0px, 0px, 0px;
}

body {
    background-color: #fff;
    color: #000;
}

.nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    color: #000;
    height: 125px;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin-bottom: 35px;
}

.main {
    diplay: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

.navleft {
    flex: 0 0 100px;
    margin-left: 30px;
}

.navright {
    flex: 0 0 275px;
    align-content: right;
    margin-right: 30px;
}

.btn {
    cursor: pointer;
    align-content: center;
   vertical-align: middle;
}

.btn-small {
    width: 18px;
    height: 18px;
    border: none;
}

.btn-large {
    height: 30px;
    border: none;
    align-content: center;
    vertical-align: middle;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    background-color: white;
    padding: 20px;
}

.btn-login {
    background: url('images/login.png') no-repeat;
}

.btn-search {
    background: url('images/search.png') no-repeat;
}

.btn-gridmenu {
    background: url('images/gridmenu.png') no-repeat;
    width: 16px;
    height: 16px;
    border: none;
    align-content: center;
    vertical-align: middle;
}

.btn-sell {
    background-color: #fff;
    border: solid;
    border-color: #ccc;
    font-size: 14px;
    font-weight: bolder;
    border-width: 1px;
    border-radius: 0;
    color: #000;
    height: 30px;
    width: 150px;
    padding: 2px, 40px, 2px, 40px;
}

.btn-bid {
    background-color: #fff;
    border: solid;
    border-color: #000;
    font-size: 14px;
    font-weight: bolder;
    border-width: 1px;
    border-radius: 0;
    color: #000;
    height: 30px;
    width: 175px;
    padding: 3px, 60px, 3px, 60px; 
    margin-left: 15px;
    margin-bottom: 200px;
}

.left {
    text-align: left;
    padding: 100px 0px 0 115px;
    float: left;
    width: auto;
    margin-right: 75px;
    font-size: 14px;
    background-color: #fff;
}

.middle {
    text-align: right;
    padding: 0 0 75px 0;
    float: left;
    width: auto;
    background-color: #eee;
}

.right {
    float: left;
    width: 385px;
    height: 100%;
}

.topright {
    text-align: left;
    vertical-align: middle;
    background-color: #fff;
    margin: 84px 20px 74px 50px;
}

.botright {
    background-color: #eee;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

h1 {
    margin-top: 125px;
    margin-bottom: 0px;
    font-size: 55px;
}

.suitcase {
    display: block;
    max-width: 100%;
    max-height: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 0px;
}

.couch {
    display: block;
    max-width: 600px;
    height: auto;
    margin-top: 150px;
    padding-bottom: 20px;
}