body {
    background-color: #ffffff;
    color: #000000;
}

.flexnav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #000000;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    border: solid;
    border-width: 0px 0px 1px 0px;
    border-style: inset;
    border-color: #000000;
}

.navdivleft {
    flex: 0 0 100px;
}

.navdivright {
    flex: 0 0 300px;
}

img {
    height: 85px;
    width: 85px;
}

.button-login {
    background: url('images/login.png') no-repeat;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: none;
}

.button-search {
    background: url('images/search.png') no-repeat;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: none;
}


.button-menu {
    background: url('images/menu.jpg') no-repeat;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: none;
}

.button-main {
    background-color: #ffffff;
    border: solid;
    border-color: #cccccc;
    font-size: 12px;
    font-weight: bolder;
    align-content: center;
    border-width: 1px;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    padding: 3px 20px 3px 20px;
    height: 25px;

}