* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height: 150px;
    position: relative;
    background-color: silver;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: white;
    text-decoration: none;
}

.cart ion-icon {
    vartical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    background-color: royalblue;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 75px;
    border: 1px solid black;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}