* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Define root variables */
:root {
    --background: rgba(255, 255, 255, 1);
    --color: rgba(0, 0, 0, 1);
    --shaded: rgba(134, 121, 2, 1);
    --bqblue: rgba(24, 82, 156, 1);
}

body {
    background-color: var(--bqblue);
    color: var(--color);
    font-size: 1.125em;
}

/* Set global links styles */
a {
    text-decoration: none;
    color: var(--acolor);
}

a:hover {
    color: var(--shaded);
}


header {
    height: 9em;
    display: flex;
    flex-grow: 1;
    position: relative;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    justify-items: space-around;
}

h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: .5em;
    color: white;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: var(--background);
    text-decoration: none;
}

.cart a {
    background-color: var(--bqblue);
    color: white;
    cursor: pointer;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.container {
    background-color: white;
}


.container,
.products-container {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 4em 2em 4em;
    padding-top: 1em;
    border-radius: 15px;
}


.image {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    max-width: 300px;
    height: auto;
    border: 1px solid var(--color);
}

.image a {
    font-size: 1.2em;
}

.image a:hover {
    font-weight: bolder;
    color: var(--color);
}

/* 'Add to Cart' pop-up button for Auction Items */
.add-cart {
    position: absolute;
    width: 100%;
    background-color: var(--background);
    transition: all 0s ease-in-out;
    cursor: pointer;
    border-top: var(--color) dotted 1px;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
    bottom: 50px;
    opacity: 50%;
    padding: 10px;
    text-decoration: none;
}

/* --------------- SHOPPING CART PAGE --------------- */

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--bqblue);
    margin: 0 auto;
}

.product-title {
    width: 45%;
    border-bottom: 1px solid var(--bqblue);
}

.price {
    width: 15%;
    border-bottom: 1px solid var(--bqblue);
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%; 
    border-bottom: 1px solid var(--bqblue);
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid var(--bqblue);
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--bqblue);
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
    border: var(--color) dotted 1px;
}

.item-label {
    border-top: var(--color) solid 1px;
}

.item-label,
.item-price {
    text-align: center;
}


/* Style all innerHTML additions from cart.js */
.cartTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.cartTotalTitle {
    width: 30%;
}

.cartTitle {
    width: 10%;
}

