:root {
    --background: rgba(255, 255, 255, 1);
    --color: #000;
    --acolor: #000;
    --shaded: rgba(233, 233, 233, 1);
}

body {
    background: var(--background);
    color: var(--color);
    font-size: 1.125em;
}

a {
    text-decoration: none;
    color: var(--acolor);
} 

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3.5em;
    margin-top: 2em;
}


/* MEDIA QUERY for RESPONSE */
@media (min-width: 800px) {


/* MAIN CONTAINER */

.container {
    display: grid;
    grid-template-columns: 5em 2fr 3fr 2fr;
    grid-template-rows: 10em 2fr 3fr 5em;
    gap: 0px;
}



/* NAVIGATION DIVS*/

.nav-logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
}

.nav-bar {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    display: flex;
    margin-top: 1em;
    margin-right: none;
    margin-left: 10em;
    justify-content: space-around;
    font-size: 1.125em;
}

.nav-menu {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-left: 7em;
    margin-right: 1em;
    justify-content: space-around;
}



/* MAIN CONTENT DIVS */

.main-left {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;

}

.text-block {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-left: 2.5em;
    margin-right: 1em;
    line-height: 1.25;
}



/* IMAGE DIV CONTAINERS */

.img-main {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    justify-self: end;
    background-color: var(--shaded);
}

.img-side {
    grid-row: 3 / 5;
    grid-column: 4 / 5;
    justify-self: end;
    align-self: end;
    background-color: var(--shaded);
}



/* FOOTER DIVS */

.contact {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    align-self: center;
    line-height: 2;
}

.social {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20em;
    align-self: center;
    justify-content: space-around;
    background-color: var(--shaded);
    color: var(--shaded);
}



/* IMAGES */

.suitcase {
    display: block;
    max-width: 100%;
}

.couch {
    display: block;
    max-width: 100%;
}



/* BUTTONS */

.btn {
    cursor: pointer;
    align-content: center;
   vertical-align: middle;
}

.btn-small {
    width: 18px;
    height: 18px;
    border: none;
}

.btn-login {
    background: url('images/login.png') no-repeat;
}

.btn-search {
    background: url('images/search.png') no-repeat;
}

.btn-gridmenu {
    background: url('images/gridmenu.png') no-repeat;
    width: 16px;
    height: 16px;
    border: none;
    align-content: center;
    vertical-align: middle;
}

.btn-sell {
    background-color: var(--background);
    border: solid;
    border-color: #ccc;
    font-size: .75em;
    font-weight: bolder;
    border-width: 1px;
    border-radius: 0;
    color: var(--color);
    height: 25px;
    width: 150px;
    padding: 2px, 40px, 2px, 40px;
}

.btn-bid {
    background-color: var(--background);
    border: solid;
    border-color: var(--color);
    font-size: 14px;
    font-weight: bolder;
    border-width: 1px;
    border-radius: 0;
    color: var(--color);
    height: 40px;
    width: 150px;
    padding: 3px, 60px, 3px, 60px; 
    margin-left: 15px;
    margin-bottom: 200px;
}

} /* END OF MEDIA QUERY */