html {
    margin: 0px, 0px, 0px, 0px;
}

body {
    background-color: #fff;
    color: #000;
}

.nav {
    grid-area: nav;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    color: #000;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin-top: 2em;
    margin-bottom: 2em;
}

.main {
    display: grid;
    grid-template-rows: 5vh 60vh;
    grid-template-columns: 7em 2fr auto 2fr;
    grid-template-areas: 
    "nav nav nav nav"
    ". left middle right";
    column-gap: 0px;
    row-gap: 0px;
}

.navleft {
    flex: 0 0 100px;
    margin-left: 30px;
}

.navright {
    flex: 0 0 275px;
    align-content: right;
    margin-right: 30px;
}

.btn {
    cursor: pointer;
    align-content: center;
   vertical-align: middle;
}

.btn-small {
    width: 18px;
    height: 18px;
    border: none;
}

.btn-large {
    height: 30px;
    border: none;
    align-content: center;
    vertical-align: middle;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    background-color: white;
    padding: 20px;
}

.btn-login {
    background: url('images/login.png') no-repeat;
}

.btn-search {
    background: url('images/search.png') no-repeat;
}

.btn-gridmenu {
    background: url('images/gridmenu.png') no-repeat;
    width: 16px;
    height: 16px;
    border: none;
    align-content: center;
    vertical-align: middle;
}

.btn-sell {
    background-color: #fff;
    border: solid;
    border-color: #ccc;
    font-size: 14px;
    font-weight: bolder;
    border-width: 1px;
    border-radius: 0;
    color: #000;
    height: 30px;
    width: 150px;
    padding: 2px, 40px, 2px, 40px;
}

.btn-bid {
    background-color: #fff;
    border: solid;
    border-color: #000;
    font-size: 14px;
    font-weight: bolder;
    border-width: 1px;
    border-radius: 0;
    color: #000;
    height: 40px;
    width: 150px;
    padding: 3px, 60px, 3px, 60px; 
    margin-left: 15px;
    margin-bottom: 200px;
}

.left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 3em;
    justify-content: space-between;
}

.middle {
    grid-area: middle;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    text-align: right;
    justify-content: space-between;
}

.right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 7em 1em 0em 2em;
    justify-content: space-between;
}

h1 {
    margin-top: 3em;
    margin-bottom: .5em;
    font-size: 3.5em;
}

.suitcase {
    height: auto;
    width: auto;
}

.couch {
    height: auto;
    width: auto;
    margin-left: 5em;
}

.navleft {
    grid-area: navleft;
}

@media only screen and (max-width: 600px) {
    .main {
        display: grid;
        grid-template-columns: 5vh 5vh 15vh auto auto auto auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "navleft navright"
        "navmid navmid"
        "topleft topleft"
        "botleft botleft"
        "botright botright"
        "topright topright"
        "social social";
        column-gap: 0px;
        row-gap: 0px;
    }

}